<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Berita Terkini</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h2>Berita Terkini</h2>
      <p>Berikut informasi berita terbaru:</p>
      <div id="list-berita"></div>
    </div>
    {{>footer}}
    <script src="/js/berita.js"></script>
  </body>
</html>
