<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikasi cek cuaca</title>
    <link rel="icon" href="img/cuaca.png" />
    <link rel="stylesheet" href="css/styles.css" />
    
  </head>
  <body>
  <div class="main-content">
    {{>header}}

    <p>Gunakan website ini untuk menemukan informasi cuaca!</p>

    <form>
      <input placeholder="Masukkan lokasi" />
      <button>Cari Lokasi</button>
    </form>

    <p id="pesan-1"></p>
    <p id="pesan-2"></p>
  </div>

  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>